body {
    font-family: sans-serif;
}

header{
    background-color: burlywood;
}

h1 {
    text-align: center;
    font-size: 80px;
}

p {
    font-size: 20px;
}

footer {
    background-color: peru;
    color: white;
}

header img{
    width: 70px;
    height: 70px;
}

h1 img {
    width: 70px;
    height: 70px;
}

p img {
    width: 100px;
    height: 100px;
}

img {
    margin-left: 25%;
    width: 50%;
}

p {
    font-size: 40px;
    color: orangered;
    text-align: center;
}

h2 {
    font-size: 60px;
    color: indianred;
}

li {
    font-size: 30px;
}

.red {
    color: red;
}

.darkblue {
    color: darkblue;
}

.lightgreen {
    color: lightgreen;
}

.card_1 {
    width: 500px;
    margin: 20px;
    color: blueviolet;
    background-color: burlywood;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: red;
    padding-top: 30px;
    font-size: 30px;
}