body {
    font-family: sans-serif;
}

header{
    background-color: burlywood;
}

h1 {
    text-align: center;
    font-size: 80px;
}

p {
    font-size: 20px;
}

footer {
    background-color: peru;
    color: white;
}

header img{
    width: 70px;
    height: 70px;
}

h1 img {
    width: 70px;
    height: 70px;
}

.main_picture {
    margin-left: 25%;
    width: 50%;
}

p {
    font-size: 40px;
    color: orangered;
    text-align: center;
}

h2 {
    font-size: 60px;
    color: indianred;
}

li {
    font-size: 30px;
}

.red {
    color: red;
}

.darkblue {
    color: darkblue;
}

.lightgreen {
    color: lightgreen;
}

.card_1 {
    width: 500px;
    margin: 20px;
    color: blueviolet;
    background-color: burlywood;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: red;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: yellow;
}

nav a:hover {
    font-size: 35px;
    color: darkgreen;
    background-color: white;
}

div {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    justify-content: space-around;
}

div img {
    width: 30%;
    height: 350px;
    border: 10px dashed cyan;
    border-radius: 30px;
    opacity: 0.5;
}

div img:hover {
    opacity: 1;
    width: 33%;
    height: 400px;
}

